/* font */
@font-face {
  font-family: 'elice';
  src: url('/fonts/EliceDigitalCodingOTF_Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'elice';
  src: url('/fonts/EliceDigitalCodingOTF_Bold.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: 'cafe';
  src: url('/fonts/Cafe24Ohsquareair.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'cafe';
  src: url('/fonts/Cafe24Ohsquare.woff2') format('woff2');
  font-style: bold;
  font-weight: 700;
}
@font-face {
  font-family: 'dang';
  src: url('/fonts/Cafe24Dangdanghae.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'pretend';
  src: url('/fonts/Pretendard-Thin.woff2') format('woff2');
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'pretend';
  src: url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'pretend';
  src: url('/fonts/Pretendard-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'pretend';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'pretend';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'pretend';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'chab';
  src: url('/fonts/chab.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'chang';
  src: url('/fonts/ChangwonDangamAsac.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
